.ssm-banner {
  background: url('../assets/spacial-background.jpg') top center no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  padding-top: 100px;
  position: relative;
  width: 100vw;

  @media (min-width: 1280px) {
    background-position: 0 50%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 0;
  }

  .ssm-logo {
    // border: thin solid green;
    opacity: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 110%;

    @media (min-width: 1280px) {
      margin: 0 auto;
      padding: 25px 0 0;
    }
  }
}

.ssm-logo--svg {
  fill: var(--white);
  width: 100%;
}

.ssm-overlay {
  background: rgba(0, 0, 0, .90);
  height: 100vh;
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.ssm-parallax {
  // background: var(--black);
  position: relative;
  z-index: 10;

  @media (min-width: 1280px) {
    bottom: -100vh;
  }
}