.ssm-contact {
  background: linear-gradient(to right, var(--cyan) 0%, var(--magenta) 25%, var(--magenta) 75%, var(--yellow) 100%);
  border-radius: 100px 100px 0 0;
  padding: 25px 0 25px 0;
  position: relative;
  margin: 0 auto;
  width: 100vw;
  z-index: 5;

  &::before {
    background: var(--offwhite);
    border-radius: 100px 100px 0 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: 1;

    @media (min-width: 1280px) {
      min-height: 150vh;
    }
  }

  &--form {
    margin: 0 auto;
    padding: 50px 0 100px;
    position: relative;
    width: 80%;
    z-index: 5;

    @media (min-width: 768px) {
      padding: 50px 0 175px;
    }
    
    @media (min-width: 1024px) {
      padding: 50px 0 175px;
      width: 75%;
    }

    @media (min-width: 1280px) {
      padding: 50px  0 250px;
      width: 65%;
    }
    
    @media (min-width: 1900px) {
      padding: 50px  0 250px;
      width: 55%;
    }

    h2 {
      font-size: 42px;
      margin: 25px 0;

      @media (min-width: 1280px) {
        font-size: 84px;
      }
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      background: 0;
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, .90);
      font-size: 16px;
      height: 100%;
      outline: 0;
      margin: 0;
      padding: 20px 0 0 10px;
      transition: all .35s ease-out;
      width: 100%;

      @media (min-width: 1280px) {
        font-size: 18px;
        height: 80px;
        margin: 10px 0;
      }
    }

    input[type="submit"] {
      @include EuropaBold;
      background: var(--black);
      border: 4px solid var(--black);
      border-radius: 50px;
      color: var(--white);
      font-size: 18px;
      letter-spacing: 2px;
      margin: 25px 0;
      padding: 25px 50px;
      text-transform: uppercase;
      width: 100%;
      
      @media (min-width: 768px) {
        padding: 35px 50px;
      }
      
      @media (min-width: 1280px) {
        padding: 25px 50px;
      }

      &[disabled="true"] {
        background: var(--gray);
        border: 4px solid var(--gray);
        color: var(--black);
      }
    }
  }

  &--input_checkbox {
    // border: thin solid red;
    display: flex;
    height: 70px;
    position: relative;
    width: 100%;

    @media (min-width: 1280px) {
      position: relative;
      border-radius: 50px;
      width: 180px;
    }
  
    input[type="checkbox"], input[type="radio"] {
      align-content: center;
      appearance: none;
      -webkit-appearance: none;
      border: .25rem solid var(--black);
      border-radius: 3rem;
      display: inline-block;
      font-size: 2rem;
      height: 65px;
      justify-content: center;
      padding: 0;
      width: 100%;
  
      @media (min-width: 768px) {
        padding: 30px 65px;
      }

      @media (min-width: 1280px) {
        display: flex;
        padding: 0rem;
      }

      &::before {
        display: block;
        background-color: rgba(0, 0, 0, .10);
        border-radius: 3rem;
        content: "";
        height: 100%;
        transform: scale(0);
        width: 100%;
      }
  
      &:checked {
        transform: scale(1);
  
        &::before {
          transform: scale(1);
        }
      }
  
      :hover {
        color: var(--black);
      }
    }
  
    label {
      color: var(--black);
      font-size: 14px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;

      @media (min-width: 768px) {
        font-size: 24px;
      }
      
      @media (min-width: 1280px) {
        font-size: 16px;
      }
    }
  }

  &--service-budget_label {
    font-size: 14px;
    margin: 15px 0 10px 10px;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.checkbox-input--wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin: 25px 0;

  @media (min-width: 1280px) {
    display: flex;
    gap: 0;
    justify-content: space-between;
    position: relative;
    margin: 25px 0;
  }
}

.field {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 25px 0;
  
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    position: relative;  
  }

  &.input {
    &::before {
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, var(--magenta) 0, var(--cyan) 50%, var(--magenta) 100%);
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      transition: all .35s ease-out;
      width: 0;

      @media (min-width: 1280px) {
        bottom: 10px;
      }
    }

    &[data-active="true"] {
      &::before {
        width: 100%
      }
    }
  }

  &-label {
    font-size: 16px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .35s ease-out;

    @media (min-width: 768px) {
      font-size: 24px;
    }

    @media (min-width: 1280px) {
      font-size: 18px;
    }

    &[data-active="true"] {
      font-size: 14px;
      margin-top: -20px;
    }
  }

  &-radio--label {
    pointer-events: none;
  }
}

.custom-shape-divider-top-1 {
  fill: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}