.ssm-exit--menu {
  // border: thin solid red;
  height: 80px;
  right: 10px;
  top: 10px;
  position: fixed;
  width: 80px;
  z-index: 100;
  
  @media (min-width: 768px) {
    height: 120px;
    right: 20px;
    top: 20px;
    width: 120px;
  }
  
  @media (min-width: 1280px) {
    height: 100px;
    right: 20px;
    top: 20px;
    width: 100px;
  }

  &:hover {
    cursor: pointer;
  }

  &_label {
    color: var(--black);
    font-size: 12px;
    font-weight: bold;
    left: 50%;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    z-index: 100;

    @media (min-width: 760px) {
      font-size: 18px;
    }
    
    @media (min-width: 1280px) {
      font-size: 12px;
    }
  }

  @keyframes rotateBlob {
    from {
      rotate: 0;
    }
  
    to {
      rotate: 360deg;
    }
  }

  #sw-js-blob-svg {
    animation: rotateBlob 7s linear infinite forwards;
    height: 100%;
    opacity: 1;
    position: relative;
    width: 100%;
    z-index: 99;
  }
}

.ssm-navigation {
  background: var(--black);
  display: none;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  margin: 0 auto;
  padding: 75px 15px;
  position: fixed;
  left: 0;
  opacity: 0;
  top: 0;
  width: 100vw;
  z-index: 30;

  @media (min-width: 360px) {
    padding: 150px 15px;
  }
  
  @media (min-width: 768px) {
    padding: 200px 15px;
  }

  @media (min-width: 1280px) {
    background: 0;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    height: auto;
    left: 50%;
    margin: 0 auto;
    padding: 20px 20px;
    position: fixed;
    transform: translateX(-50%);
    width: 550px;
    z-index: 30;
  }
  
  &--button {
    background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(60deg, var(--black), var(--black)) border-box;
    border: 3px solid transparent;
    border-radius: 25px;
    color: var(--white);
    font-size: 12px;
    letter-spacing: 2px;
    outline: 0;
    margin: 10px 0;
    padding: 20px 25px;
    position: relative;
    text-transform: uppercase;
    transition: all .25s ease-out;

    @media (min-width: 1280px) {
      flex-grow: 1;
      margin: 0;
      padding: 15px 25px;
    }

    &:hover {
      cursor: pointer;
      color: var(--cyan);

      background: 
        linear-gradient(#000, #000) padding-box,
        linear-gradient(60deg, var(--cyan), var(--magenta)) border-box;
      border: 3px solid transparent;
      border-radius: 25px;
    }

    &[data-active='true'] {
      background: 
        linear-gradient(#000, #000) padding-box,
        linear-gradient(60deg, var(--cyan), var(--magenta)) border-box;
      border: 3px solid transparent;
      border-radius: 25px;
    }
  }
}