.ssm-projects {
  // border: thin dashed red;
  bottom: -100%;
  padding: 25px;
  display: flex;
  position: fixed;
  width: 100vw;
  z-index: 25;

  &--hide {
    align-items: center;
    background: 0;
    border-radius: 15px;
    border: 2px solid var(--magenta);
    display: flex;
    height: 55px;
    left: 50%;
    padding: 0 15px 0 0;
    position: absolute;
    transform: translateX(-50%);
    top: -30px;
    z-index: 20;

    @media (min-width: 1280px) {
      top: -50px;
    }

    &_bar-wrapper {
      display: flex;
      height: 50px;
      position: relative;
      width: 50px;
    }
    
    &_bar-label {
      color: var(--white);
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &_bar {
      background: var(--magenta); 
      height: 2px;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 20px;

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      
      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &--wrapper {
    // border: thin dashed white;
    height: 450px;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100vw;
  }
  
  &--slider {
    // border: thin dashed green;
    display: flex;
    height: 100%;
    // width: 2750px;
    width: 2000px;
    padding: 25px 0;
    gap: 20px;
    left: 0;
    position: absolute;

    @media (min-width: 1280px) {
      left: 35.5%;
    }
  }

  &--preview {
    align-items: end;
    background: rgba(50, 50, 50, .60);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .35);
    border-radius: 15px;
    color: var(--white);
    display: flex;
    flex-grow: 1;
    height: 100%;
    position: relative;
    transition: all .35s ease-out;



    &:hover {
      box-shadow: inset 0 0 0 3px cyan;

      .ssm-projects--preview_overlay {
        opacity: 1;
        visibility: visible;
      }
    }

    &:nth-child(1) {
      background: url('../assets/eightfold.png') top center no-repeat;
      background-size: cover;
    }
    
    &:nth-child(2) {
      background: url('../assets/stellco.png') top center no-repeat;
      background-size: cover;
    }
    
    &:nth-child(3) {
      background: url('../assets/beignetspot.png') top center no-repeat;
      background-size: cover;
    }
    
    &:nth-child(4) {
      background: url('../assets/jrileyspirits.png') top center no-repeat;
      background-size: cover;
    }

    &[data-active='true'] {
      .ssm-projects--preview_overlay {
        opacity: 1;
        visibility: visible;
      }
    }

    &_overlay {
      background: rgba(0, 0, 0, .75);
      border-radius: 25px;
      cursor: auto;
      height: 100%;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all .25s ease-out;
      visibility: hidden;
      width: 100%;
      z-index: 1;

      &-wrapper {
        // border: thin solid red;
        margin: 65px 0 0;
        padding: 10px 20px;
        text-align: center;
        width: 65%;

        @media (min-width: 1280px) {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    &_client {
      color: var(--white);
      font-size: 24px;
      font-weight: bold;
    }
    
    &_description {
      color: var(--white);
      font-size: 18px;
      margin: 10px 0 40px;
    }

    &_website {
      background: var(--white);
      border: 0;
      border-radius: 25px;
      color: var(--black);
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 15px 25px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &--current {
    align-items: center;
    border: thin solid rgba($color: #fff, $alpha: .50);
    color: var(--white);
    border-radius: 15px;
    display: flex;
    font-size: 18px;
    gap: 25px;
    width: 125px;
    padding: 15px 15px;
    text-align: center;

    @media (min-width: 1280px) {
      padding: 15px 25px;
      width: 220px;
    }

    &_progress {
      background: cyan;
      display: inline-block;
      height: 1px;
      width: 100px;
    }
  }

  &--controller {
    bottom: -50px;
    display: flex;
    gap: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .ssm-button--next,
    .ssm-button--prev {
      background: 0;
      border: 1px solid rgba($color: #fff, $alpha: .50);
      border-radius: 15px;
      padding: 15px 20px;

      svg {
        fill: white;
      }
    }
  }
}

.ssm-overlay {
  background: rgba(0, 0, 0, .90);
  height: 100vh;
  display: none;
  left: 50%;
  opacity: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: 20;
}