.ssm-services {
  // border: thin solid red;
  background: linear-gradient(to right, var(--cyan) 0%, var(--magenta) 25%, var(--magenta) 75%, var(--yellow) 100%);
  border-radius: 100px 100px 0 0;
  // bottom: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all .35s ease-out;
  width: 100vw;
  z-index: 10;

  @media (min-width:1280px) {
    // height: 140vh;
  }

  &[data-active="true"] {
    &::after {
      top: 15px;
    }
  }

  &::after {
    background: var(--white);
    border-radius: 100px 100px 0 0;
    content: '';
    display: block;
    height: 100%;
    transition: all .35s ease-out;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &--wrapper {
    align-self: center;
    flex-direction: column;
    display: flex;
    margin: 25px 0;
    position: relative;
    width: 80%;
    z-index: 10;

    @media (min-width: 1024px) {
      width: 75%;
    }

    @media (min-width: 1280px) {
      align-self: center;
      flex-direction: row;
      margin: 65px 0;
      width: 65%;
    }
  }

  &--menu {
    color: var(--black);
    margin: 10px 0;
    padding: 5px 5px;

    li {
      font-size: 14px;
      margin: 10px 0;

      @media (min-width: 768px) {
        font-size: 28px;
        margin: 25px 0;
      }
      
      @media (min-width: 1024px) {
        font-size: 18px;
        margin: 10px 0;
      }
    }
  }

  &--header {
    // border: thin solid red;
    align-self: center;
    font-size: 1.5rem;
    line-height: 1.15;
    padding: 100px 0 30px;
    position: relative;
    // text-align: center;
    width: 80%;
    z-index: 10;

    @media (min-width:768px) {
      font-size: 2.5rem;
      padding: 100px 0 50px;
    }
    
    @media (min-width:1024px) {
      font-size: 3.5rem;
      width: 75%;
    }

    @media (min-width:1280px) {
      font-size: 5rem;
      padding: 100px 0 0;
      width: 65%;
    }
  }
  
  &--label {
    font-size: 25vw;
    color: rgba($color: #000000, $alpha: .05);
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 160px;
    transform: translateX(-50%);
    z-index: 6;

    @media (min-width:768px) {
      font-size: 25vw;
      top: 200px;
    }
    
    @media (min-width:1024px) {
      font-size: 25vw;
      top: 235px;
    }

    @media (min-width:1280px) {
      bottom: 5%;
      top: unset;
    }
  }

  &--details {
    // border: thin solid green;
    align-self: center;
    font-size: 1rem;
    line-height: 1.25;
    padding: 25px 0 0;
    position: relative;
    // text-align: center;
    width: 100%;
    z-index: 10;

    @media (min-width:768px) {
      font-size: 2rem;
      padding: 35px 0 0;
    }

    @media (min-width:1280px) {
      align-self: end;
      font-size: 1.5rem;
      line-height: 1.25;
      padding: 0 25px 0 0;
      position: relative;
      text-align: left;
      width: 100%;
    }

    &_label {
      align-items: center;
      background: var(--black);
      border-radius: 25px;
      color: var(--white);
      display: flex;
      font-size: 16px;
      justify-content: center;
      letter-spacing: 2px;
      padding: 10px 0;
      text-transform: uppercase;
      width: 150px;

      @media (min-width: 768px) {
        font-size: 18px;
        // margin: 25px 0;
        padding: 15px 0;
        width: 170px;
      }
      
      @media (min-width: 1280px) {
        margin: 0 0 10px 0;
        padding: 12px 0;
        width: 150px;
      }
    }
  }

  &--list {
    background: var(--white);
    border-radius: 25px;
    display: flex;
    row-gap: 25px;
    flex-direction: column;
    padding: 20px 20px;
    position: relative;
    width: 100%;
    z-index: 5;

    @media (min-width: 320px) {
      padding: 25px 25px;
    }

    @media (min-width:768px) {
      margin: 0 auto;
      width: 85%;
    }

    @media (min-width:1024px) {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      padding: 25px 25px;
      width: 70%;
    }

    @media (min-width:1280px) {
      align-self: center;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin: 0;
      padding: 25px 25px;
    }
  }

  &--item {
    border: thin solid var(--black);
    border-radius: 25px;
    padding: 25px 25px;

    @media (min-width:768px) {
      padding: 50px 50px;
    }
    
    @media (min-width: 1280px) {
      padding: 25px 25px;
    }

    &_header {
      font-size: 36px;

      @media (min-width:768px) {
        font-size: 42px;
      }
    }
    
    &_details {
      font-size: 18px;
      line-height: 1.5;
      margin: 15px 0;
    }
  }
}